.mod_marquee * {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}

.mod_marquee {
	display: block;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}

.marquee-container {
	width: 100%;
	background: grey;
	float: right;
	display: inline-block;
	overflow: hidden;
	box-sizing: border-box;
	height: 45px;
	position: relative;
	cursor: pointer;
}

.marquee-sibling {
	padding: 0;
	background: rgb(61, 61, 61);
	width: 20%;
	height: 45px;
	line-height: 42px;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	text-align: center;
	float: right;
	right: 0;
	z-index: 2000;
}

.marquee, *[class^="marquee"] {
	display: inline-block;
	white-space: nowrap;
	position:absolute;
}

.marquee {
  margin-left: 25%;
}

.marquee-items{
  display: inline-block;
  padding: 5px;
  margin: 0;
  height: 45px;
  position: relative;
}

.marquee-items li{
  display: inline-block;
  line-height: 35px;
  color: #fff;
}

.marquee-items li:after{
	content: "|";
	margin: 0 1em;
}
